/*bottom header*/
.trigle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 10.6px 15px;
    border-color: transparent transparent white transparent;
    position: relative;

    margin-top: -30px;
}



.trigle:before {
    left: -50px;
    transform: rotate(-60deg);
}


.bottom-header{
    z-index: 5;
    position: fixed;
    top:8%;
    left: 50%;
}
.bottom-header__store-brand{
    margin-top: 10px;
    max-width: 290px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    display: none;
    position: absolute;

}
.top-store:hover .bottom-header__store-brand {
    display: block;
}

.bottom-header__store-brand h4{
    font-weight: bold;
    font-size: 13px;
    color: black;
}

.bottom-header__store-brand span{
    font-size: 12px;
    font-weight: 500;
    color: black!important;
}
.bottom-header__store-brand__empty-card,
.bottom-header__search-order{
    margin-top: 10px;
    display: none;
    min-width: 200px;
    min-height: 50px;
    padding: 20px;
    border-radius: 3px;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.bottom-header__search-order img{
    padding: 35px;
}

.bottom-header__search-order span{
    color: black;
    font-size: 13px;
    margin-left: 20px;
}
.top_order:hover .bottom-header__search-order{
    display: block;

}
.bottom-header__store-brand__empty-card{
    display: none;
}
.bottom-header__store-brand__empty-card img{
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}
.bottom-header__store-brand__empty-card span{
    font-size: 13px;
    margin-left: 15px;

}
.top-cart:hover .bottom-header__store-brand__empty-card{
    display: block;
}
.item-login__header{
    margin-left: 10px;
}
/*search__top*/

/*overlay*/
#overlay {
    background-color: rgba(0, 0, 0, 0.5); /* black color with 50% opacity */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

/*box-iteam*/
.box-item {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    height: 500px;
    margin-top: 10px;
}
.box-item .name-banner__sale{
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0 0 0;
}
.box-item .slideshow_sale{
    padding: 10px 0;
    width: 95%;
    margin-right: auto;
    margin-left: auto;
}
.box-item .item__other,
.box-item .item__old,
.box-item .item{
    width: 20%;
    background-color: white;
    margin: 10px;
    height: 390px;
    border-radius: 5px;
    overflow: hidden;
}

.box-item .item:hover{
    cursor: pointer;
}
.box-item .item img{
    margin-top: 15px;
}
.box-item .item h6{
    min-height: 40px;
    font-size: 15px;
    margin-left: 20px;
    font-weight: 500;

}
.box-item .star-item{
    margin-left: 20px;
    padding: 10px 0 10px 0;
}
.box-item .item h6 span{
    margin-left: 5px;
    font-size: 12px;
}
.box-item .heart-item p{
    margin-left: 24px;
    margin-right: 2px;
    font-size: 14px;
}
.box-item .heart-item i{
    margin-left: -20px;
}
.box-item .heart-red{
    display: none;
}
/*box-item-slideshow*/
.box-item .chevron{
    margin-top: 200px;
}
/*box_sale*/
.box_sale{
    background: linear-gradient(rgb(255, 211, 145), rgb(255, 211, 145)) 0% 0%;

    height: 1000px;


}

.slideshow_sale img{
    width: 200px;
    height: 200px;
    padding: 10PX;

}
.ribbon {
    position: relative;
    margin-bottom: 10px;
    background-size: cover;
    text-transform: uppercase;
    color: white;
}

.ribbon4 {
    position: absolute;
    top: 0;
    padding: 3px 8px;
    background: red;
    box-shadow: -1px 2px 3px rgba(0, 0, 0, 0.3);
    border-bottom-right-radius: 10px;
    font-size: 12px;
}




/*main-box-item*/
.box-item .title-item{
    margin-top: 10px;
}
.box-item .title-item h4{
    font-size: 20px;
    font-weight: bold;
    margin-left: 40px;
    padding: 3px;
}
.box-item .title-item .relate_tag{
    padding: 3px;
    margin-right: 30px;
}
.box-item .title-item .relate_tag a{
    padding: 6px 14px;
    font-size: 12px;
    margin-right: 3px;
    background-color: rgba(0.1,0.1,0.1,0.1);
    border-radius: 5px;
}
.button_phone_right{
    margin-top: 100px;
}
.button_phone_left{
    margin-top: 100px;
}
/*other item*/
.item__other h6{
    margin: 3px 5px 0 5px;
    color: white;
    font-weight: 300;
    font-size: 15px;
    padding: 0 5px;
}
.box-item .item__other{
    height: 150px !important;
    background: rgb(242, 131, 118);
    min-width: 30px;
    min-height: 30px;
    margin-right: 3px;
    transition: all 0.3s ease-in-out ;
    will-change: tranform;
}
.box-item .item__other:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.box-item .item__other img{
    width: 60%;
    margin-right: auto;
    margin-left: auto;
}
/*contact*/
.contact{
    background-color: rgba(240,240,240,240);
    border-radius: 10px;

}
.contact .col_contact{
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}
.contact h3{
    font-weight: bold;
    padding: 3px;
}
.contact p{
    padding: 3px;
    font-size: 13px;
}
.contact img{
    padding: 3px;
}

.author{
    text-align: center;
    padding: 20px;
    font-weight: 500;

}
.author a{
    margin-left: 5px;
    font-weight: bold;
    opacity: 0.7;
}






/*login*/
/*register*/
.modal{

    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

}

.modal h3{
    text-align: center;
    padding: 20px;

}
.modal .modal_input{

}

.modal .modal_input input{
    padding: 15px;
    background-color: #f2f2f2;
    width: 500px;
    margin-top: 20px;
    border-radius: 10px;
}
.modal_input p{
    font-size: 12px;
    padding: 10px;
    color: darkgray;
}
.modal_input .note__pass{

    margin-left: -30px;
}
.modal .modal-button{
    padding: 10px;
    width: 500px;
    margin: 20px 0;
    border-radius: 20px;
    text-align: center;
    background-color: red;
    color: #f2f2f2;
}
.modal .modal-button:hover{
    cursor: pointer;
    opacity: 0.8;
}
.modal .login-other__app{

    background-color:#f2f2f2 ;

    padding: 5px 20px;
    border-radius: 10px;
}
.modal .login-other__app .zalo{
    top:120% !important;;
}
.modal .login-other__app:hover{
    cursor: pointer;
}
.modal img{
    margin-top: 10px;
    text-align: center;
}
.modal .title-login{
    font-size: 15px;
    text-align: center;
}
.modal .not_account{
    font-size: 15px;
    color: #333333;
}
.modal p{
    text-align: center;
}
.modal .not_account span{
    color: #cd1818;
    font-weight: 500;
    font-size: 15px;
    margin-left: 20px;
}
.modal .not_account span:hover{
    cursor: pointer;
}
.register{
    display: none;
}
/*notify login register*/
.modal-notify {
    position: absolute;
    top: 20%;
    right: 20%;
    transform: translate(50%, -50%);
    max-width: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;

}
.modal-notify i{
    font-size: 20px;
}
.modal-notify p{
    font-size: 12px;
    padding: 5px;
}
.modal-notify__register-success{
    display: none;
}
.error__register-email{
    display: none;
}
.error__register-password{
    display: none;
}
.error__register-re_password{
    display: none;
}
.error__notify{
    font-size: 12px;
}
.modal-notify__login-wrong{
    display: none;
}
.modal-notify__login-success{
    display: none;
}
.error__login-email{
    display: none;
}
.error__login-password{
    display: none;
}

/*mobile*/
.search_product{
    min-height: 60px;
    padding: 25px 0 0;
    width: 85%;
    margin-right: auto;
    margin-left: auto;
    font-size: 13px;
    top: 7%;
    position: fixed;
    background-color: white;
    z-index: 2;
}
.search_product .search-product__item{
    margin-right: 5px;
    width: 100%;
    position: relative;

}

.search_product .search-product__item:hover{
    cursor: pointer;
}
.search_product p{
    margin-left: 20px;
    color: #505358;
}
.search_product .sub_search-product__item{
    position: absolute;
    width: 100%;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    left: 0;
    right:0;
}
.search_product .sub_search-product__item li{
    padding: 10px 30px;
    margin-right: 30px;
}
.search_product .sub_search-product__item li:hover{
    color: #505358;
    cursor: pointer;
}
.search_product .sub_search-product__item li i{
    padding: 0 5px;
}
.sub_search-product__item-col{
    margin-right: 100px;
}

.search-product__item .sub_search-product__item{
    display: none;
}
.search-product__item:hover .sub_search-product__item{
    display: block;
}
.search-product__item:hover > ul{
    display: block;
}